{% extends 'base.html' %}
{% block content %}

<section class="container-fluid hero-container mb-4">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <div class="jumbatron-fluid">
                <div class="container text-light">
                    <h1>Tailor's Thimble</h1>
                    <p class="lead">For All Your Bespoke Tailoring Needs</p>
                    <a class="btn btn--hero" role="button" href="">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
 
<section class="container">
    <div class="row">
        <article class="col-lg-6 text-center mb-4 art-1">
            <h2>Our Philosophy</h2>
            <p>Tailor's Thimble offers an individualised service and experienced craftmanship.
                We expertly hand-craft every garment to suit your personal style. Our mission is 
                to make this process as streamlined as possible at every step.    
            </p>
        </article>
        <article class="col-lg-6 text-center mb-4 art-2">
            <div class="row d-flex">
                <div class="col-md-8 art-2--text">
                    <h2>Established 1981</h2>
                    <p>With over 40 years of experience in the tailoring trade, Joe has established
                        Tailor's Thimble as a centre of excellence for your bespoke tailoring needs.
                    </p>
                    <a role="button" class="btn btn-link btn--more" href="#">Find out more <i class="fa-solid fa-chevron-right"></i></a>
                </div>
                <div class="col-md-4 d-none d-sm-block">
                    <img class="img-fluid rounded" style="max-width:100px; height:auto;"  
                    src="https://res.cloudinary.com/aperlae/image/upload/c_scale,q_auto,w_900/v1674595675/tailors-thimble-images/pexels-tima-miroshnichenko-6766299_b9pv08.webp"
                    alt="Joe the Tailor wearing a white beard, rolled up sleeves and a measuring tape hanging from his neck.">
                </div>
            </div>
        </article>
    </div>
</section>
    
{% endblock content %}